// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.arrow-icon {
    width: 20px;
    fill: #b8c2cc;
    height: 20px;
    display: block;
}
.breadcrumb-sep {
    color: $light-gray;
}
.error {
    color: red;
    font-size: 0.8em;
}
